h2 Gestión Libreria
nav
      ul
        li
          a(href="/") Inicio
        //- if user
        li
          a(href="/libros") Libros
        li 
          a(href="/clientes") Clientes
        li 
          a(href="/autor") Autores
        li 
          a(href="/ventas") Ventas
        li
          a(href="/logout") Cerrar sesión
        //- else
          li
            a(href="/login") Iniciar Sesión