h2 Gestión Académica
nav
      ul
        li
          a(href="/") Inicio
        //- if user
        li
          a(href="/alumnos") Libros
        li 
          a(href="/asignaturas") Clientes
        li
          a(href="/logout") Cerrar sesión
        //- else
          li
            a(href="/login") Iniciar Sesión