header.container
  h2.text-center.mt-3 Gestión Librería Mardá

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  ul.navbar-nav
    li.nav-item
      a.nav-link(href="/") Inicio
    li.nav-item
      a.nav-link(href="/libros") Libros
    li.nav-item
      a.nav-link(href="/clientes") Clientes
    li.nav-item
      a.nav-link(href="/autor") Autores
    li.nav-item
      a.nav-link(href="/ventas") Ventas
    li.nav-item 
      a.nav-link(href="/auth/logout") Cerrar Sesion
