extends ../templates/layout

block content 
    h3 Borrar un libro
        div 
            form(method="post") 
                label(for="titulo") Titulo:
                input(type="text", name="titulo", value=`${libro.titulo}`,disabled)
                
                br
                label(for="fPublicacion") Fecha Publicacion:
                input(type="date", name="fPublicacion", value=`${libro.fPublicacion}`,disabled)
                
                br
                label(for="precio") Precio: 
                input(type="double", name="precio", value=`${libro.precio}`,disabled) 
                
                br
                input(type="hidden", name="id", value=`${libro.id}`)
                input(type="submit", value="Enviar")