extends ../templates/layout

block head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")

block content 
    h3 Borrar un libro
        div 
            form(method="post") 
                label(for="titulo") Titulo:
                input(type="text", name="titulo", value=`${libro.titulo}`,disabled)
                
                br
                label(for="fPublicacion") Fecha Publicacion:
                input(type="date", name="fPublicacion", value=`${libro.fPublicacion}`,disabled)
                
                br
                label(for="precio") Precio: 
                input(type="double", name="precio", value=`${libro.precio}`,disabled) 
                
                br
                input(type="hidden", name="id", value=`${libro.id}`)
                input(type="submit", value="Enviar")



