extends ../templates/layout

block content 
    h3 Editar un libro
        div 
            form(method="post") 
                label(for="titulo") Titulo:
                input(type="text", name="titulo", value=`${libro.nombre}`)
                
                br
                label(for="fPublicacion") Fecha de publicación:
                input(type="date", name="fPublicacion", value=`${libro.fPublicacion}`)
                
                br
                label(for="precio") Precio: 
                input(type="double", name="precio",value=`${libro.precio}`) 
                
                br
                input(type="hidden", name="id", value=`${libro.id}`)
                input(type="submit", value="Enviar")