h1,h2,h3 {
    color:red
}

table {
    border: 1px solid black;
    background-color: green;
    text-emphasis-color: black;
    background-color: white;

}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #07ff98;
    color: #333;
    padding: 20px;
}

header {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    border: 1px solid black;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
}