extends ../templates/layout
block head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
block content 
    h3 Añadir una nueva venta
        div 
            form(action="/venta/add", method="post") 
                
                label(for="fecha") Fecha:
                input(type="date", name="fecha")
                br
                label(for="total") Total:
                input(type="double", name="total")                 
                br              
                input(type="submit", value="Enviar")