extends ../templates/layout

block content 
    h3 Añadir un nuevo cliente
        div 
            form(action="/libreria/add", method="post") 
                
                label(for="nombre") Nombre:
                input(type="text", name="nombre")
                br
                
                label(for="correo") Correo:
                input(type="text", name="correo")                 
                
                br   
                input(type="submit", value="Enviar")