extends ../templates/layout

block content 
    h3 Borrar un libro
        div 
            form(method="post") 
                label(for="nombre") Nombre:
                input(type="text", name="nombre", value=`${cliente.nombre}`,disabled)
                
                br
                label(for="correo") Fecha Publicacion:
                input(type="text", name="correo", value=`${cliente.correo}`,disabled)
                
                br
                input(type="hidden", name="id", value=`${cliente.id}`)
                input(type="submit", value="Enviar")