extends ../templates/layout
block head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
block content 
    h3 Editar un libro
        div 
            form(method="post") 
                label(for="nombre") nombre:
                input(type="text", name="nombre", value=`${clientes.nombre}`)
                
                br
                label(for="correo") Correo:
                input(type="text", name="correo", value=`${clientes.correo}`)
                
                br
                input(type="hidden", name="id", value=`${clientes.id}`)
                input(type="submit", value="Enviar")