extends ../templates/layout

block content 
    h3 Editar un libro
        div 
            form(method="post") 
                label(for="nombre") nombre:
                input(type="text", name="nombre", value=`${cliente.nombre}`)
                
                br
                label(for="correo") Correo:
                input(type="text", name="correo", value=`${cliente.correo}`)
                
                br
                input(type="hidden", name="id", value=`${cliente.id}`)
                input(type="submit", value="Enviar")